OPENROUTER_API_KEY=sk-or-v1-votre-clé-openrouter
JWT_SECRET=un-secret-fort-et-unique
OPENROUTER_MODEL=meta-llama/llama-3.1-70b-instruct:free
MONGODB_URI=mongodb+srv://votre-user:votre-pass@cluster0.mongodb.net/fitlama?retryWrites=true&w=majority
PORT=5000
FRONTEND_URL=https://votre-frontend-url.com
PAYPAL_CLIENT_ID=votre-client-id-paypal
PAYPAL_CLIENT_SECRET=votre-client-secret-paypal
PAYPAL_BASIC_BUTTON_ID=votre-id-bouton-basic
PAYPAL_PREMIUM_BUTTON_ID=votre-id-bouton-premium